<div class="container mt-5">
   <h4>Add Address</h4>
<form class="row contact_form mt-5" action="/address-view" method="post" id="checkout-form">
                   
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="first" name="name" placeholder="Name" />
                      
                    </div>
                   
                    
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="number" name="mobile"placeholder="Mobile number"  />
                      
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="email" name="email" placeholder="Email id" />
                      
                    </div>
                   
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="addres" name="address" placeholder="your address" />
                      
                    </div>
                    
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="city" name="city" placeholder="city" />
                      
                    </div>
                    
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Postcode" />
                    </div>
                    <div class="col-md-12 form-group">
                      <button type="submit" class="btn btn-success">submit</button>
                    </div>

</form>
</div>
