
    <main class="d-flex">
    <div class=" d-flex card-body h-100 gradient-custom p-3  mb-5 bg-white rounded">
        <div class="card-body d-flex  justify-content-center  ">
            {{!-- shadow-lg --}}
            {{!-- <p class="card-text" style="font-weight: bolder; font-size: large; color: black;">
                {{user.name}}
            </p> --}}
            {{!-- <div class="">
                <input class="form-check-input" type="radio" name="checkoutAddress"
                    onclick="selectAddress('{{@index}}')">

            </div> --}}
            
            
            <div class="col-md-6 card shadow-lg mt-5" style="width: 38rem; height:20em; background-color: seashell;">
                {{!-- <img class="card-img-top" src="https://www.flaticon.com/premium-icon/accept_4315445" alt="Card image cap"> --}}
                    <p class="card-text  pl-5  mt-5">
                
               
                        <h1  style="color: green;" class="text-center">Order placed successfully</h1></p>
                        <div class="txt d-flex justify-content-center mt-3">
                    <a href="/orders" class="btn btn-primary align-center " style="background-color: rgb(110, 140, 192);">View Orders</a>
                    </div>
                </div>
                </div>
            </div>

</main>
        
    
<style>
    .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right,rgb(210 199 223), rgb(162 188 231));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(210 199 223), rgb(162 188 231))
}
</style>