
    <main>
       
        <!-- Hero Area Start-->
       
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part gradient-custom   ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mt-5 ">
                        <div class="login_part_text text-center" style="height:370px;">
                            <div class="login_part_text_iner">
                                <h2>New to our Shop?</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="/signup" class="btn_3">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome Back ! <br>
                                    Please Sign in now</h3>
                                <form class="row contact_form" action="/login" method="post" >
                                {{#if  loginErr}}
                                    <p class="text-danger">{{loginErr}}</p>
                                  {{/if}}
                                    
                                    <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" id="Email" name="Email" value=""
                                            placeholder= "Email" onkeyup="validEmail()">
                                            <span id="emailerr" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="Password" name="password" value=""
                                            placeholder= "Password" onkeyup="validPassowrd()">
                                            <span id="passworderr" class="text-danger"></span>
                                    </div>
                                     
        
                                    {{!-- <div class="col-md-12 form-group p_star">
                                        <input type="Number" class="form-control" id="Number" name="Number" value=""
                                            placeholder="Phone number" onkeyup="validNumber()">
                                            <span id="numberr" class="text-danger"></span>
                                    </div> --}}
                                    
                                    

                                    
                                    <div class="col-md-12 form-group">
                                        
                                          <button type="submit" class="btn btn-primary btn-lg"
                                            onclick="return validation()">login</button>
                                        {{!-- {{#if success}}
                                        <p><a href="">{{success}}</a></p> --}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
   <script>
    var errorName = document.getElementById('nameerr')
    var errorEmail = document.getElementById('emailerr')
    var errorPassword = document.getElementById('passworderr')
    var errorNumber=document.getElementById('numberr')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorName.innerHTML = 'Alphanets are only allowed'
            return false
        }
        errorName.innerHTML = null
        return true

    }
    function validEmail() {
        const email= document.getElementById('Email').value
        if (email == "") {
            errorEmail.innerHTML = "enter you email address"
            return false


        }
        if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email adress'
            return false
        }

        errorEmail.innerHTML = null
        return true
    }

    function validPassowrd() {
        const password = document.getElementById('Password').value
        if (password == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (password.length < 3) {
            errorPassword.innerHTML = "password should be more than three characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }
     function validNumber() {
        const number = document.getElementById('Number').value
        if (number == "") {
            errorNumber.innerHTML = "enter your Number"
            return false
        }
        if (!number.match(/^\d{10}$/)) {
            errorNumber.innerHTML = 'Number should be 10'
            return false
        }
        errorNumber.innerHTML = null
        return true
    }


    function validation() {
        if (!validateName() || !validEmail() || !validPassowrd()) {
            return false
        }
        return true
    }
</script>
<style>
  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(210 199 223), rgb(180, 187, 199));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(210 199 223), rgb(180, 187, 199))
  }
</style>